<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/ramo-logo.png" style="background-color: white;"/>
	
	<title> Ramo Furniture </title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link rel = "preconnect" href = "https://fonts.gstatic.com">
<link href = "https://fonts.googleapis.com/css2? family = Kiwi + Maru: wght @ 300; 400; 500 & family = Playfair + Display & family = Quicksand: wght @ 300 & family = Sanchez & display = swap "rel =" stylesheet ">
</head>
<body>
 <%- include('./partials/headerLogueado') %> 
 <section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="nombres">
      <a class="ade" href="https://www.linkedin.com/in/adelabuye/" target="_blank">Adela Buye<br><br><img class="pp"
          src="/images/users/ppade.jpg" alt="foto de perfil"></a>
      <a class="mery" href="https://www.linkedin.com/in/mariavrosino/" target="_blank">Maria Rosino<br><br><img
          class="pp" src="/images/users/pp mery.jpg" alt="foto de perfil"></a>
      <a class="oli" href="" target="_blank">Olivia Rozze
        <br><br><img class="pp" src="" alt="foto de perfil"></a>

    </div>
  </section>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 <%- include('./partials/footer') %>
</body>	
</html>