<%- include('./partials/headerLogueado') %>

<body>

  <section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="nombres">
      <a class="ade" href="https://www.linkedin.com/in/adelabuye/" target="_blank">Adela Buye<br><br>
        <img class="pp" src="/images/users/ppade.jpg" alt="foto de perfil"></a>
      <a class="mery" href="https://www.linkedin.com/in/mariavrosino/" target="_blank">Maria Rosino<br><br>
        <img class="pp" src="/images/users/pp mery.jpg" alt="foto de perfil"></a>
      <a class="oli" href="https://www.linkedin.com/in/olivia-rozze-32a99418a/" target="_blank">Olivia Rozze
        <br><br>
        <img class="pp" src="/images/users/pp oli.jpg" alt="foto de perfil"></a>

    </div>
  </section>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <%- include('./partials/footer') %>
</body>

</html>