<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />
	
	<title> Mercado Liebre Argentina</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link rel = "preconnect" href = "https://fonts.gstatic.com">
<link href = "https://fonts.googleapis.com/css2? family = Kiwi + Maru: wght @ 300; 400; 500 & family = Playfair + Display & family = Quicksand: wght @ 300 & family = Sanchez & display = swap "rel =" stylesheet ">
</head>
<body>
 <%- include('./partials/header') %> 
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/img-home-banner.jpg" alt="Banner de ofertas">
	
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title typography-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/ml/products">
						<figure class="product-box_image">
							<img src="/images/products/Modulo Rack L Wengue.jpg" alt="Modulo rack L wengue">
						</figure>
						<article class="product-box_data">
							<h2>Modulo rack L wengue</h2>
							<p>Mueble fabricado en melamina sobre MDP 15 mm. Diseño funcional adaptable a diferentes ambientes. 3 espacios abiertos. Puede ser usado en forma horizontal o vertical, combinando varias unidades..Peso: 13,6Kg.Ancho: 136cm. Profundo: 56cm. Alto: 29cm. Bultos: 1.Este producto se entrega en caja para armar. Incluye instructivo de armado con código QR para visualizar en su teléfono celular un video instructivo de armado. Envios a todo el pais. El producto se entrega en la puerta del domicilio. El Personal de entrega no está autorizado a ingresar a los domicilios.No se suben productos por escalera ni ascensor</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/ml/products">
						<figure class="product-box_image">
							<img src="/images/products/Ropero Reflex Dl352.jpg" alt="Ropero Reflex Dl352">
						</figure>
						<article class="product-box_data">
							<h2>Ropero Reflex DL352</h2>
							<p>Ropero Reflex DL352 , 4 puertas, 8 espejos, 2 cajones internos con guias metalicas, interiores revestidos</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/ml/products">
						<figure class="product-box_image">
							<img src="/images/products/Modular Rack 126 Blanco (81001).jpg" alt="Modular Rack 126 Blanco (81001)">
						</figure>
						<article class="product-box_data">
							<h2>Modular rack 126 blanco (81001)</h2>
							<p>Mueble fabricado en melamina sobre MDP 15 mm. 12 espacios abiertos. 4 cajones de 43 x 34 x 13 cm. con correderas metalicas. Amplitud para TV de 55pulgadas y 2 orificios para el pasaje de los cables.Peso: 56Kg.Ancho: 180cm. Profundo: 45cm. Alto: 183cm. Bultos: 1.Este producto se entrega en caja para armar. Incluye instructivo de armado con codigo QR para visualizar en su telefono celular un video instructivo de armado. Envios a todo el pais. El producto se entrega en la puerta del domicilio. El Personal de entrega no esta autorizado a ingresar a los domicilios.No se suben productos por escalera ni ascensor</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/ml/products">
						<figure class="product-box_image">
							<img src="/images/products/Biblioteca Juvenil Wengue Cubos Blancos (80980).jpg" alt="Biblioteca Juvenil Wengue Cubos Blancos (80980)">
						</figure>
						<article class="product-box_data">
							<h2>Biblioteca Juvenil Wengue Cubos Blancos (80980)</h2>
							<p>Mueble fabricado en melamina sobre MDP 15 mm. combinado con 5 cubos color blanco. Diseño contemporaneo de amplia funcionalidad.Peso: 55Kg.Ancho: 74,3cm. Profundo: 35,5cm. Alto: 212cm. Bultos: 1.Este producto se entrega en caja para armar. Incluye instructivo de armado con codigo QR para visualizar en su telefono celular un video instructivo de armado. Envios a todo el pais. El producto se entrega en la puerta del domicilio. El Personal de entrega no esta autorizado a ingresar a los domicilios.No se suben productos por escalera ni ascensor</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title typography-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/ml/products">
						<figure class="product-box_image">
							<img src="/images/products/Juego Comedor Aimaretti Combinado Marsella Novo.jpg" alt="Juego Comedor Aimaretti Combinado Marsella Novo">
						</figure>
						<article class="product-box_data">
							<h2>Juego Comedor Aimaretti Combinado Marsella Novo</h2>
							<p>Mesa de 150 x 0,50 + 6 sillas. Mesa melamina simil madera - Chasis silla estructura caño - Pintura epoxi termoconvertible - Tapizado chenille</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/ml/products">
						<figure class="product-box_image">
							<img src="/images/products/Chifonier Super Express Chocolate 5 Cajones (56154).jpg" alt="Chifonier Super Express Chocolate 5 Cajones (56154)">
						</figure>
						<article class="product-box_data">
							<h2>Chifonier super express chocolate 5 cajones (56154)</h2>
							<p>El chifonier Super Express de Mosconi esta fabricado en MDP de 15 mm de grosor y revestido en pintura UV, para mayor proteccion. Posee 5 cajones con correderas plasticas, que te permitiran organizar de manera ordenada ropa, juguetes y otros objetos.Peso: 26Kg.Ancho: 59cm. Profundo: 39cm. Alto: 92cm. Bultos: 1.Este producto se entrega en caja para armar. Incluye instructivo de armado con codigo QR para visualizar en su telefono celular un video instructivo de armado. Envios a todo el pais. El producto se entrega en la puerta del domicilio. El Personal de entrega no esta autorizado a ingresar a los domicilios.No se suben productos por escalera ni ascensor</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/ml/products">
						<figure class="product-box_image">
							<img src="/images/products/Pyp Bna Cucheta Gabinete Triliche Caoba (56205).jpg" alt="Cucheta Gabinete Triliche Caoba (56205)">
						</figure>
						<article class="product-box_data">
							<h2>Cucheta Gabinete Triliche Caoba (56205)</h2>
							<p>Cama Cucheta confeccionada en MDP 15 mm, con terminacion en pintura UV y largueros en MDF 22 mm. La misma cuenta con escalera fabricada en madera y PVC de alta resistencia. A la vez que, cuenta con 1 puerta y 1 cajon que se puede ser armado a la izquierda o a la derecha. Soporta un peso maximo de 120 kg. Esta producto sera ideal para aprovechar la maximo de los espacios reducidos.Peso: 68,5Kg.Ancho: 155cm. Profundo: 233cm. Alto: 88cm. Bultos: 1.Este producto se entrega en caja para armar. Incluye instructivo de armado con codigo QR para visualizar en su telefono celular un video instructivo de armado. Envios a todo el pais. El producto se entrega en la puerta del domicilio. El Personal de entrega no esta autorizado a ingresar a los domicilios.No se suben productos por escalera ni ascensor</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/ml/products">
						<figure class="product-box_image">
							<img src="/images/products/Mesa Tv 120 Melamina Wengue (Chocolate) (56166).jpg" alt="Mesa Tv 120 Melamina Wengue (Chocolate) (56166)">
						</figure>
						<article class="product-box_data">
							<h2>Mesa TV 120 melamina wengue (chocolate) (56166)</h2>
							<p>Mueble fabricado en melamina sobre MDP 15 mm. Puerta con bisagras metalicas y estante. Posee ruedas para facilitar su movimiento.Peso: 27Kg.Ancho: 90cm. Profundo: 45cm. Alto: 75cm. Bultos: 1.Este producto se entrega en caja para armar. Incluye instructivo de armado con codigo QR para visualizar en su telefono celular un video instructivo de armado. Envios a todo el pais. El producto se entrega en la puerta del domicilio. El Personal de entrega no esta autorizado a ingresar a los domicilios.No se suben productos por escalera ni ascensor</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->

	<%- include('./partials/footer') %>
</body>	
</html>