<%- include('./partials/headerLogueado') %>

<body>
	<div class="form">
		<div class="form-toggle"></div>
		<div class="form-panel one">
			<div class="form-header">
				<h1>Agregar productos</h1>
				<h2>Ingresá los datos correspondientes para agregar un nuevo producto a tu cuenta</h2>
			</div>
			<div class="form-content">
				<form method="POST" action="/ramo/productAdd" enctype="multipart/form-data">
					<div class="form-group">
						<label for="productName">Nombre del producto </label>
						<input type="text" maxlength="30" name="product_name"
							placeholder="Inclui marca y detalles generales" required>
					</div>
					<div class="form-group">
						<label for="image" class="postLabel">Carga tu imagen</label>
						<input required type="file" name="image" class="postInput">
					</div>

					<div class="form-group">
						<label for="description" class="postLabel"> Ingrese descripcion</label>
						<input type="text" name="description" class="postInput"
							placeholder="Ayuda a tus clientes a encontrar el producto que buscan" required>
					</div>
					<div class="form-group">
						<label for="description" class="postLabel">Precio del producto</label>
						<input type="number" name="price" class="postInput"
						minlength="1"	placeholder="Ayuda a tus clientes a encontrar la mejor oferta" required>
					</div> <br>
					<br>
					<div class="form-group">
						<button type="submit">Subir producto</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>
	</div>
	<br><br><br><br><br>
	<%- include('./partials/footer') %>
</body>

</html>