<%- include('./partials/headerLogueado') %>

<body>

	<div class="form">
		<div class="form-toggle"></div>
		<div class="form-panel one">
			<div class="form-header">
				<h1>Agregar productos</h1>
				<h2>Ingresá los datos correspondientes para agregar un nuevo producto a tu cuenta</h2>
			</div>
			<div class="form-content">
				<form method="POST" action="/ramo/productAdd" enctype="multipart/form-data">
					<div class="form-group">
						<label for="productName">Nombre del producto </label>
						<input type="text" name="product_name" placeholder="nombre del producto" required>
					</div>

					<div class="form-group">
						<label for="image" class="postLabel">Carga tu imagen</label>
						<input type="file" name="image" class="postInput">
					</div>

					

					<div class="form-group">
						<label for="description" class="postLabel"> Ingrese descripcion</label>
						<input type="text" name="description" class="postInput" required>
					</div>



					<div class="form-group">

						<input type="checkbox" required>Aceptar terminos y condiciones
					</div>
					<div class="form-group">
						<input type="hidden" name="id" value="<%= locals.user.id %> ">
						<button type="submit">Subir producto</button>
					</div>
				</form>

			</div>
		</div>

	</div>
	</div>
	</div>
	<br><br><br><br><br>


	<%- include('./partials/footer') %>
</body>

</html>