<%- include('./partials/headerLogueado') %>

<body>


	<div class="form">
		<div class="form-toggle"></div>
		<div class="form-panel one">
			<div class="form-header">
				<h1>Agregar productos</h1>
				<h2>Ingresá los datos correspondientes para agregar un nuevo producto a tu cuenta</h2>
			</div>
			<div class="form-content">
				<form>
					<div class="form-group">
						<label for="productName">Nombre del producto </label>
						<input type="text" id="nombre del producto" name="nombre del producto"
							placeholder="nombre del producto" required="required" />
					</div>
					<div class="form-group">
						<label for="password">Marca del prdocuto</label>
						<input type="text" id="marca" name="marca" placeholder="marca del producto"
							required="required" />
					</div>
					<div class="form-group">
						<label for="password">Modelo del producto</label>
						<input type="text" id="modelo del producto" name="modelo del producto"
							placeholder="modelo del producto" required="required" />
					</div>
					<div class="form-group">
						<label for="password">Caracteristicas del producto</label>
						<input type="text" id="caracteristicas del producto" name="caracteristicas del producto"
							placeholder="caracteristicas del producto" required="required" />
					</div>
					<div class="form-group">
						<button type="submit">Cargar imagenes</button>
					</div>
					<div class="form-group">
						<label class="form-remember">
							<input type="checkbox" />Aceptar terminos y condiciones
					</div>
					<div class="form-group">
						<button type="submit">Subir producto</button>
					</div>
				</form>

			</div>
		</div>

	</div>
	</div>
	</div>
	<br><br><br><br><br>


	<%- include('./partials/footer') %>
</body>

</html>