<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/ramo-logo.png" style="background-color: white;"/>

	<title> Ramo Furniture </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<%- include('./partials/header') %> 
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title typography-title">Modulo rack L wengue</h2> 
			<p class="product-detail-description">
				<!--<a href="/ramo/productAdd">Editar</a>-->
				<button type="submit" class="editar">Editar</button>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/libreria dis.png" alt="Modulo rack L wengue">
					<p class="product-detail-description">
						Mueble fabricado en melamina sobre MDP 15 mm. Diseño funcional adaptable a diferentes ambientes. 3 espacios abiertos. Puede ser usado en forma horizontal o vertical, combinando varias unidades..Peso: 13,6Kg.Ancho: 136cm. Profundo: 56cm. Alto: 29cm. Bultos: 1.Este producto se entrega en caja para armar. Incluye instructivo de armado con código QR para visualizar en su teléfono celular un video instructivo de armado. Envios a todo el pais. El producto se entrega en la puerta del domicilio.</p>
				</article>
				<div class="col-12 col-lg-4 title-thypography">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/ramo/profile">Agustin Parica: </a> </strong>
								 Muy bueno el mueble, cumple la funcion para la cual fue comprado. El color era el esperado por las fotos, los tiempos de entrega se cumpliero.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/ramo/profile">Justina Palisa: </a> </strong>
									El mueble es comodo y practico, tiene los espacios justos que necesitaba. Lo super recomiendo para escritorios.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/ramo/profile">Bruno Rios: </a> </strong>
									El mueble es de buena calidad pero una madera me llego despegada, mande a reclamar y demoraron 3 meses en cambiarlo. Mala la atencion al cliente. 
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/ramo/profile">Victoria Alaniz: </a> </strong>
									Me mandaron mal el color que pedi, solicite reclamo y me dijeron que el que yo elegi no lo fabricaban mas, no queria el mueble pedi el reintegro del dinero y no quisieron hacerlo.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/ramo/profile">Florencia Sacks: </a> </strong>
									El mueble es muy comodo para el uso que le doy, podria ser un poco mas ancho y con menos altura algunos estantes. Estoy satisfecha.</p>
							</div>
						</article>

					</section>
					<form class="form-comentario" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>

	
	<!-- /product detail -->

	<%- include('./partials/footer') %>
</body>	
</html>