<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<%- include('./partials/header') %> 
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<form action="" method="post" class="formProfileEdit"><!--  Averiguar de que va el action acá -->
				<label for="name">
					Si desea modificar su nombre escribalo aquí
				</label>
				<input type="text" name="name" placeholder="Ingrese su nombre"> 
				<br><br>

				<label for="surname">
					Si desea modificar su apellido escribalo aquí
				</label>
				<input type="text" name="apellido" placeholder="Ingrese su apellido"> 
				<br><br>
				<label for="birthday">
					Si desea modificar su fecha de nacimiento seleccionela aquí
					<input type="date" name="birthday" placeholder="Ingrese su fecha de nacimiento"> 
				</label>
				<br><br>

				<label for="email">
					Si desea modificar su dirección de correo electronico escribala aquí
					<E-mail><input type="email" name="email" placeholder="Ingrese su correo electronico"> </E-mail>
				</label>
				
				<br><br>

				<label for="password">
					Si desea modificar su contraseña escribala aqui
					<input type="password" name="password" placeholder="Ingrese su contraseña"> 
				</label>

			</form>
			</h2>


			<%- include('./partials/footer') %>
</body>

</html>