<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/ramo-logo.png" style="background-color: white;"/>

	<title> Ramo Furniture </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<%- include('./partials/headerLogueado') %> 
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title typography-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12">
				<h2 class="products-title typography-title">Datos de cuenta</h2>
			</div>
			<form action="" method="post" class="formProfileEdit"><!--  Averiguar de que va el action acá -->
				<label for="name">
					Si desea modificar su usuario escribalo aquí
				</label>
				<input type="text" name="usuario" placeholder="Ingrese su nuevo usuario"> 
				<br><br>

				<label for="email">
					Si desea modificar su email escribalo aquí
				</label>
				<E-mail><input type="email" name="email" placeholder="Ingrese su correo electronico"> </E-mail>
				<br><br>
				<label for="password">
					Si desea modificar su contraseña escribala aqui
					<input type="password" name="password" placeholder="Ingrese su contraseña"> 
				</label>
			</form>
			<div class="col-12">
				<h2 class="products-title typography-title">Datos de personales</h2>
			</div>
			<form action="" method="post" class="formProfileEdit">
				<label for="name">
					Si desea modificar su nombre escribalo aquí
				</label>
				<input type="text" name="nombre" placeholder="Ingrese su nuevo nombre"> 
				<br><br>
				<label for="surname">
					Si desea modificar su apellido escribalo aquí
				</label>
				<input type="text" name="apellido" placeholder="Ingrese su nuevo apellido"> 
				<br><br>
				<label for="birthday">
					Si desea modificar su fecha de nacimiento seleccionela aquí
					<input type="date" name="birthday" placeholder="Ingrese su fecha de nacimiento"> 
				</label>
				<br><br>

				<label for="documento">
					Si desea modificar su documento escribalo aquí
					<input type="number" name="documento" placeholder="Ingrese su documento"> 
				</label>
				<br><br>
				<label for="telefono">
					Si desea modificar su telefono escribala aqui
					<input type="number" name="telefono" placeholder="Ingrese su telefono"> 
				</label>
			</form>
			

			</h2>


			<%- include('./partials/footer') %>
</body>

</html>