<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/ramo-logo.png" style="background-color: white;"/>

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body class="bodyRegister">
	<%- include('./partials/header') %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title typography-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i> <br>Completá tus datos <br>
				<br><br>
<div class="registerForm">

			<form action="" method="post" class="formRegister"><!--  Averiguar de que va el action acá -->
				<label for="name">
					Ingrese su Nombre
				</label>
				<input type="text" name="name" placeholder="Ingrese su nombre"> 
				<label for="surname"><br>
					Ingrese su Apellido
				</label>
				<input type="text" name="apellido" placeholder="Ingrese su apellido"> <br>
				<label for="email">
					Ingrese su email
				</label>
				<E-mail><input type="email" name="email" placeholder="Ingrese su correo electronico"> </E-mail><br>
				
				<label for="password">
					Ingrese su clave
				</label>
				<input type="password" name="password" placeholder="Ingrese su clave"> <br>

				<label for="passwordConfirm">
					Confirme su clave
				</label>
				<input type="password" name="passwordConfirm" placeholder="Confirme su clave"> <br>

				<label for="country">
					Ingrese su Pais
				</label>
				<input type="text" name="country" placeholder="Ingrese su pais"> <br>

				<label for="province">
					Ingrese su provincia
				</label>
				<input type="text" name="province" placeholder="Ingrese su provincia"> <br>

				<label for="document">
					Ingrese su documento
				</label>
				<input type="number" name="document" placeholder="Ingrese su documento"> <br>

				<label for="gender">
					Ingrese su Genero
				</label>
				<input type="text" name="gender" placeholder= "Ingrese su genero"> <br>
				
				<label for="birthday">
					Ingrese su fecha de nacimiento
		
				</label>
				<input type="date" name="birthday" placeholder="Ingrese su fecha de nacimiento"> <br>
				<label for="phone">
					Ingrese su telefono
				</label>
				<input type="number" name="phone" placeholder="Ingrese su telefono"> <br>

			</form>
		</div>

			<%- include('./partials/footer') %>
</body>

</html>