<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/ramo-logo.png" style="background-color: white;" />

	<title> Ramo Furniture </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	<script src="../public/javascripts/codepen.js"></script>
</head>

<body>
	<%- include('./partials/header') %>

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<div class="empty-icon-container">
						<div class="animation-container">
						  <div class="bounce"></div>
						  <div class="pebble1"></div>
						  <div class="pebble2"></div>
						  <div class="pebble3"></div>
						  <div class="pebble4"></div>
						  <div class="pebble5"></div>
						</div>
						<div>
							<h2 class="products-title typography-title">Perdón!</h2>
							<h3 class="products-title typography-title">No encontramos ningun resultado para "<%= search %>" </h3>
						</div>
				  
					  </div>
				</div>
				<!-- Show the "ultimos" products -->



	
						
			
					


				<%- include('./partials/footer') %>
</body>

</html>