 <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title typography-title">Cuadros</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/ramo/products/13">
						<figure class="product-box_image">
							<img src="/images/products/Letter Board blanco.png" alt="Letter Board Blanco">
						</figure>
						<article class="product-box_data">
							<h2>Letter Board Blanco</h2>
							<p>Pizarra de fieltro con letras blancas intercambiables.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/ramo/products/14">
						<figure class="product-box_image">
							<img src="/images/products/cuadro moderno flores rojas.png" alt="Cuadros Tripticos Modernos Arbol De La Vida
							">
						</figure>
						<article class="product-box_data">
							<h2>Cuadro Arbol De La Vida</h2>
							<p>CUADROS DECORATIVOS MODERNOS  Medida: 110x55.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/ramo/products/15">
						<figure class="product-box_image">
							<img src="/images/products/arbol 2.png" alt="Cuadro Arbol De La Vida Triptico">
						</figure>
						<article class="product-box_data">
							<h2>Triptico Arbol De La Vida</h2>
							<p>creando un espacio minimalista, dándole un detalle único a tu pared.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/ramo/products/16">
						<figure class="product-box_image">
							<img src="/images/products/inhale ex.png" alt="Cuadros Modernos Decorativo Inhale Exhale">
						</figure>
						<article class="product-box_data">
							<h2>Cuadros Inhale Exhale</h2>
							<p>Cuadro doble frases inhale y Exhale, listo para pegar</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
        </div>
    </div>
