<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 title-thypography">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Con Ramo Furniture Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                        siempre es seguro!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4 title-thypography">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $ 3.999</h2>
                    <p>Solo por estar registrado en Ramo Furniture tenés envíos gratis en miles de productos. Es un
                        beneficio de Ramo-Puntos.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4 title-thypography">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! En Ramo Furniture, no hay nada que no puedas hacer, porque estás
                        siempre protegido.</p>
                </article>
            </div>
        </div>
    </div>
    <section class="sectionFooter">
        </div>
        <a class="titulo2" href="/ramo">Términos y condiciones</a>


        <a class="titulo2" href="/ramo/contacto">Contacto</a>

        <a class="titulo2" href="/ramo">Privacidad</a>
    </section>

    </section>
    <section class="redes">
        <article class="titulo3">
            <a href="https://www.facebook.com" target="_blank" style="text-decoration: none;">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
        </article>

    </section>
</footer>

<script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
<script src="/javascripts/codepen.js"></script>