<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link width="" rel="shortcut icon" href="/images/ramo-logo.png" style="background-color: white;" />
    <link
        href="https://fonts.googleapis.com/css2?family=Abel&family=Archivo:ital,wght@1,200&family=Didact+Gothic&family=Mulish:wght@700&family=Nunito&family=Varela+Round&family=Work+Sans&display=swap"
        rel="stylesheet">
    <title> Ramo Furniture </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">


    <link rel="stylesheet" href="/stylesheets/app.css">

</head>

<header class="main-header">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Abel&family=Archivo:ital,wght@1,200&family=Didact+Gothic&family=Mulish:wght@700&family=Nunito&family=Varela+Round&family=Work+Sans&display=swap"
        rel="stylesheet">
    <div class="container">
        <div class="row align-items-center primera-linea">
            <div class="col-5 col-md-2">
                <!-- ver si esta ruta funciona -->
                <a href="/" class="left-navbar main-header_home-link">
                    <img class="logo" src="/images/ramo-logo.png">
                </a>


            </div>

            <div class="col-7 col-md-6">
                <form action="/searchResult" method="GET" class="search-form">
                    <input type="text" name="search" placeholder="Buscar productos, marcas y más"
                        class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <button class="btn-toggle-navbar">
                <i class="fas fa-bars"></i>
            </button>


            <nav class="main-navbar">
                <div class="main-div hypography-hiperlink problematico">


                    <div>
                        <a href="/ramo/register">Creá tu cuenta <ion-icon name="person-add"></ion-icon></a>
                    </div>
                    <div>
                        <a href="/ramo/login">Ingresá <ion-icon name="log-in"></ion-icon></a>
                    </div>

                </div>


            </nav>

        </div>




    </div>
    <div class="container">
        <div class="row">


            <div class="col-lg-4 pb-5">
                <!-- ver si esta ruta funciona -->
                <a href="/" class="todos-prod">Todos los productos</a>
            </div>
        </div>
    </div>


</header>