<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title typography-title"> Muebles </h2>
        </div>
        <!-- Show the "ultimos" products -->
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="/ramo/products/1">
                    <figure class="product-box_image">
                        <img src="/images/products/libreria dis.png" alt="Modulo rack L wengue">
                    </figure>
                    <article class="product-box_data">
                        <h2>Modulo rack L wengue</h2>
                        <p>Diseño funcional adaptable a diferentes ambientes.</p>
                        <p>Comentarios: 12</p>
                    </article>
                </a>
            </section>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="/ramo/products/2">
                    <figure class="product-box_image">
                        <img src="/images/products/Juego Comedor Aimaretti Combinado Marsella Novo.png"
                            alt="Juego Comedor Aimaretti Combinado Marsella Novo">
                    </figure>
                    <article class="product-box_data">
                        <h2>Juego Comedor Aimaretti</h2>
                        <p>Mesa de 150 x 0,50 + 6 sillas. Mesa melamina simil madera - Chasis silla estructura caño -
                            Pintura epoxi termoconvertible - Tapizado chenille</p>
                        <p>Comentarios: 12</p>
                    </article>
                </a>
            </section>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="/ramo/products/3">
                    <figure class="product-box_image">
                        <img src="/images/products/Modular Rack 126 Blanco (81001).png" alt="Modular Rack 126 Blanco">
                    </figure>
                    <article class="product-box_data">
                        <h2>Modular rack funcional</h2>
                        <p>Mueble fabricado en melamina sobre MDP 15 mm. 12 espacios abiertos. 4 cajones de 43 x 34 x 13
                            cm. con correderas metalicas. Amplitud para TV de 55pulgadas y 2 orificios para el pasaje de
                            los cables.Peso: 56Kg.Ancho: 180cm. Profundo: 45cm. Alto: 183cm. Bultos: 1.Este producto se
                            entrega en caja para armar. Incluye instructivo de armado con codigo QR para visualizar en
                            su telefono celular un video instructivo de armado. Envios a todo el pais. El producto se
                            entrega en la puerta del domicilio.</p>
                        <p>Comentarios: 12</p>
                    </article>
                </a>
            </section>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="/ramo/products/4">
                    <figure class="product-box_image">
                        <img src="/images/products/Biblioteca Juvenil Wengue Cubos Blancos (80980).png"
                            alt="Biblioteca Juvenil Wengue Cubos Blancos">
                    </figure>
                    <article class="product-box_data">
                        <h2>Biblioteca Juvenil Cubos</h2>
                        <p>Mueble fabricado en melamina sobre MDP 15 mm. combinado con 5 cubos color blanco. Diseño
                            contemporaneo de amplia funcionalidad.Peso: 55Kg.Ancho: 74,3cm. Profundo: 35,5cm. Alto:
                            212cm. Bultos: 1.Este producto se entrega en caja para armar. Incluye instructivo de armado
                            con codigo QR para visualizar en su telefono celular un video instructivo de armado. Envios
                            a todo el pais. El producto se entrega en la puerta del domicilio.</p>
                        <p>Comentarios: 12</p>
                    </article>
                </a>
            </section>
        </div>
    </div>
</div>