<!-- Mas comentados living -->
<div class="container products-wrapper text-align-center">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title typography-title">Living</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="/ramo/products/9">
                    <figure class="product-box_image">
                        <img src="/images/products/sillon francis.png" alt="Sillón Francis">
                    </figure>
                    <article class="product-box_data">
                        <h2>Sillón Francis</h2>
                        <p>Sillón Francis, de la Línea Chelsea, fabricado en tres módulos de 90 x 90 cm c/u.</p>
                        <p>Comentarios: 12</p>
                    </article>
                </a>
            </section>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="/ramo/products/10">
                    <figure class="product-box_image">
                        <img src="/images/products/sillon watts.png" alt="Sillón Watts">
                    </figure>
                    <article class="product-box_data">
                        <h2>Sillón Watts</h2>
                        <p>Sillón Watts de la línea Camdem de tres cuerpos con esqueleto y patas cónicas de 14 cm.</p>
                        <p>Comentarios: 12</p>
                    </article>
                </a>
            </section>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="/ramo/products/11">
                    <figure class="product-box_image">
                        <img src="/images/products/Sillón Esquinero Fitzroy.png" alt="Sillón Esquinero Fitzroy">
                    </figure>
                    <article class="product-box_data">
                        <h2>Sillón Fitzroy</h2>
                        <p>Sillón Esquinero Fitzroy, de la línea Chelsea, de 2,50  2,50 mts con esqueleto y patas de eucalipto.</p>
                        <p>Comentarios: 12</p>
                    </article>
                </a>
            </section>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="/ramo/products/12">
                    <figure class="product-box_image">
                        <img src="/images/products/Sillon esquinero Callow.png" alt="Sillon esquinero Callow">
                    </figure>
                    <article class="product-box_data">
                        <h2>       Sillon Callow</h2>
                        <p>Sillon Callow esquinero, de la Línea Chelsea, fabricado en tres cuerpos.</p>
                        <p>Comentarios: 12</p>
                    </article>
                </a>
            </section>
        </div>
    </div>
</div>