/*====== Fonts ======*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

/*====== Variables ======*/
:root {
  --yellow: #e0c8c8;
  --rose-ebony: #653e3e;
  --tuscan-red: #825050;
  --gray: #666666;
  --lavander-blush: #f1e4e4;
  --green: #2d6a4f;
  --base-font-family: "Work Sans", sans-serif;
  --hipervinculos-font-family: "Mulish";
  --destacados-font-family: "Varela Round";
}
.bodyRegister {
  background-color: #f0e4e4;
}

/*====== Basics ======*/
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  font-size: 10px;
  background: linear-gradient(
    45deg,
    rgba(195, 151, 151) 0%,
    rgba(241, 228, 228) 100%
  );
}

body {
  font-family: var(--base-font-family);
  font-weight: 300;
  background-color: var(--light-gray);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

input,
textarea {
  font-family: inherit;
}

hr {
  border: none;
  border-bottom: solid 1px var(--light-gray);
}

/*====== Main Header ======*/
.main-header {
  padding: 15px 0;
  font-size: 17px;
}

.main-header_home-link,
.main-header_credit-link {
  display: block;
}
.logo {
  width: 120%;
}
.primera-linea {
  margin-top: 2;
  display: flex;
  justify-content: space-between;
}
.main-header_credit-link {
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
  font-family: var(--hipervinculos-font-family);
  font-weight: bold;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
}
.formLogin {
  position: relative;
  display: flex;

  align-items: center;
  min-width: inherit;
  width: fit-content;
}
.formProductAdd {
  position: relative;
  display: flex;
  align-items: center;
  min-width: inherit;
  width: fit-content;
}
.formRegister {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: inherit;
  width: fit-content;
}

.form-control {
  border-radius: 20px;
  border-color: #b57d7d;
}

.search-form_input {
  border: solid 1px var(--light-gray);
  display: block;
  width: 100%;
  padding: 7px 35px 7px 7px;
  border-radius: 3px;
  height: 40px;
  font-size: 1.5em;
}

.search-form_button {
  position: absolute;
  right: 2px;
  height: 60%;
  background-color: #ffffff;
  border: none;
  border-left: solid 1px var(--light-gray);
  color: var(--gray);
  cursor: pointer;
}

/*====== Main Navbar ======*/
.btn-toggle-navbar {
  background-color: var(--rose-ebony);
  color: #ffffff;
  font-size: 1.5em;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  display: block;
  margin: 20px auto 0;
}
.todos-prod {
  width: 230px;
  font-family: var(--hipervinculos-font-family);
  letter-spacing: 0.06em;
  font-size: 1.8em;
  margin-top: 20px;
  color: #825050;
  margin-left: 150px;
}
.main-navbar {
  letter-spacing: 0.06em;
  display: flex;
  flex-direction: column;
  text-align: end;
  font-size: 1.2em;
  font-family: var(--hipervinculos-font-family);
}

.main-div {
  padding: 1px;
}

.logout {
  background: transparent;
  border: 0px;
  cursor: pointer;
  font-size: 1em;
  font-family: var(--hipervinculos-font-family);
  padding-top: 22px;
}

.logout:hover {
  color: #1259c3;
}

.left-navbar a,
.right-navbar a {
  display: block;
  padding: 5px 0;
  border-bottom: solid 1px var(--gray);
}

.saludo {
  padding-top: 4px;
  text-align: center;
  font-family: var(--hipervinculos-font-family);
}
/*====== Banner ======*/
.banner {
  width: 80%;
  margin-top: 20px;
  margin: 0% auto;
  display: block;
  
}

/*====== Products ======*/
.products-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.products-title {
  font-size: 2.4em;
  font-weight: 400;
  color: var(--gray);
  font-family: var(--destacados-font-family);
}

.product-box {
  background-color: #ffffff63;
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 20px 0;
}

.product-box a {
  display: block;
}

.product-box_image {
  border-bottom: 1px solid var(--light-gray);
}

.product-box_data {
  padding: 15px;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.product-box_data h2 {
  font-size: 2.4em;
  font-weight: 200;
  margin: 0;
}

.product-box_data span {
  font-size: 1.5em;
  font-weight: 300;
  color: var(--green);
  margin: 0 0 0 10px;
}

.product-box_data p {
  font-size: 1.5em;
  width: 100%;
  color: var(--gray);
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

.product-box_data i {
  color: var(--green);
  font-size: 1.8em;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}
.no-margin button {
  outline: none;
  background: #b57d7d;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #ffffff;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.noproducts {
  text-align: center;
}

.product-box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.product-box:hover p {
  height: 36px;
  margin-top: 15px;
}

.product-box:hover i {
  transform: rotate(360deg);
  box-shadow: 0 0 5px var(--green);
}

/*====== Footer ======*/
.main-footer {
  background-color: rgba(241, 228, 228);
  padding: 15px 0;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-data {
  text-align: center;
}

.footer-data i {
  color: var(--tuscan-red);
  font-size: 3.5em;
}

.footer-data h2 {
  color: var(--gray);
  font-size: 1.5em;
  font-weight: 400;
}

.footer-data p {
  color: var(--gray);
  font-size: 1em;
  font-weight: 300;
}

.sub-footer {
  border-top: 1px solid var(--light-gray);
  background-color: #ffffff;
}

.sub-footer p {
  margin: 0;
  color: var(--gray);
  padding: 15px 0;
}
.sectionFooter {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  padding: 30px 0px 0px 350px;
}
.titulo2 {
  font-size: 100%;
  text-decoration: none;
}
.titulo3 {
  margin-right: 15px;
  padding-bottom: 10px;
}
.redes {
  display: flex;
  justify-content: flex-end;
  margin-top: 1%;
  width: 50%;
}
.redes a {
  color: black;
}

/*====== Product Detail ======*/
.product-detail {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.product-detail-img {
  width: 70%;
  display: block;
  margin: auto;
}

.product-detail-info {
  border-right: 1px solid var(--light-gray);
  padding: 15px;
  /* height: 100%; */
}

.product-detail-title {
  font-weight: 400;
  font-size: 2.8em;
}

.product-detail-description {
  padding: 15px 15px 15px 40px;
  font-size: 1.5em;
  /*line-height: 1.5;*/
  text-align: justify;
}

.product-detail-price {
  font-size: 5.5em;
  margin: 10px 0;
}
.product-detail .form {
  padding: 0 15px;
  flex-direction: column;
}
.small {
  font-size: 1.8em;
  color: var(--green);
}

.small span {
  text-decoration: line-through;
}

.actions-list {
  margin-bottom: 50px;
}

.actions-list li {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
}

.actions-list i {
  color: var(--green);
  font-size: 2em;
  margin-right: 15px;
}

.actions-list p {
  color: var(--gray);
  font-size: 1.7em;
  margin: 0;
}

.buy-now-button {
  background-color: var(--tuscan-red);
  font-size: 1.6em;
  color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}

.action-button {
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin-top: 15px;
}

.action-button.edit {
  background-color: chocolate;
}
.action-button.delete {
  background-color: rgb(248, 69, 37);
}
.comments {
  padding: 30px 15px 15px 0;
}
.comments article {
  margin-bottom: 7.5px;
  padding-bottom: 7.5px;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  justify-content: space-between;
}
.comments img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.comments .data {
  width: 85%;
}
.comments p {
  font-size: 1.5em;
  margin-top: 0;
}
.comments .user {
  font-size: 1.7em;
}

/*====== contacto ======*/
.nombres {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
}
.ade {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  text-align: center;
}
.mery {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  text-align: center;
}
.oli {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  text-align: center;
}
.pp {
  border-radius: 50%;
  width: 200px;
}
.r-nulo {
  align-content: center;
  text-align: center;
}
.result-nulo {
  color: #b57d7d;
  width: 60%;
}

/*====== Formularios ======*/
.form-label {
  display: inline-block;
  font-size: 1.6em;
  margin: 10px 0;
}

.form-comentario {
  text-align: center;
}

.form-input {
  display: block;
  height: 45px;
  width: 90%;
  margin-bottom: 15px;
  font-size: 1.3em;
  border-radius: 8px;
  border: none;
  border: solid 1px var(--gray);
  padding: 0 15px;
}

.error {
  color: rgb(209, 0, 0);
  font-size: 1.4em;
}

textarea.form-input {
  min-height: 140px;
  resize: vertical;
  padding: 15px;
}

/*====== Profile ======*/
.info-usuario {
  border-bottom: 1px solid rgb(175, 164, 164);
  padding-bottom: 30px;
  font-size: 16px;
}

.foto-perfil {
  border-radius: 50%;
  width: 300px;
}
.costado {
  padding-left: 100px;
}
.addProduct {
  align-items: center;
  align-self: center;
  text-align: center;
}
.main-title {
  font-size: 25px;
  margin-bottom: 10px;
}

.btn {
  background-color: #b57d7d;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
}

/*====== Media-Queries ======*/
@media (min-width: 768px) {
  .main-header_credit-link {
    margin-top: 0;
    text-align: right;
  }

  /*.banner {
    height: 50px;
  }*/

  .btn-toggle-navbar {
    display: none;
  }

  .main-navbar,
  .left-navbar,
  .right-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .left-navbar a,
  .right-navbar a {
    border-bottom: none;
  }

  .left-navbar a:hover,
  .right-navbar a:hover {
    color: var(--tuscan-red);
  }

  .left-navbar li {
    margin-right: 15px;
  }

  .right-navbar li {
    margin-left: 15px;
  }

  .main-footer {
    padding: 40px 0;
  }

  .footer-data {
    width: 95%;
    margin: auto;
    font-family: var(--destacados-font-family);
  }
}

/* codepen */

.bodyLogin {
  background: linear-gradient(
    45deg,
    rgba(195, 151, 151) 0%,
    rgba(241, 228, 228) 100%
  );
  color: rgba(0, 0, 0, 0.6);
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overlay,
.form-panel.one:before {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.form {
  z-index: 15;
  position: relative;
  background: #ffffff;
  width: 600px;
  border-radius: 4px;
  /*box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);*/
  box-sizing: border-box;
  margin: 100px auto 10px;
  overflow: hidden;
}
.form-toggle {
  z-index: 10;
  position: absolute;
  top: 60px;
  right: 60px;
  background: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  transform-origin: center;
  transform: translate(0, -25%) scale(0);
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.form-toggle:before,
.form-toggle:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 4px;
  background: #b57d7d;
  transform: translate(-50%, -50%);
}
.form-toggle:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.form-toggle:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.form-toggle.visible {
  transform: translate(0, -25%) scale(1);
  opacity: 1;
}
.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 20px;
}

.form-group:last-child {
  margin: 0;
}
.form-group label {
  display: block;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  align-items: center;
}
.two .form-group label {
  color: #ffffff;
}
.form-group input {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  transition: 0.3s ease;
}
.form-group input:focus {
  color: #825050;
}
.two .form-group input {
  color: #ffffff;
}
.two .form-group input:focus {
  color: #ffffff;
}
.form-group button {
  outline: none;
  background: #b57d7d;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #ffffff;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}
.two .form-group button {
  background: #ffffff;
  color: #b57d7d;
}
.form-group .form-remember {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
}
.form-group .form-remember input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin: 0 10px 0 0;
}
.form-group .form-recovery {
  color: #b57d7d;
  font-size: 12px;
  text-decoration: none;
}
.form-panel {
  padding: 60px calc(5% + 60px) 60px 60px;
  box-sizing: border-box;
}
.form-panel.one:before {
  content: "";
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.form-panel.one.hidden:before {
  display: block;
  opacity: 1;
  visibility: visible;
}
.form-panel.two {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 95%;
  background: #b57d7d;
  width: 100%;
  min-height: 100%;
  padding: 60px calc(10% + 60px) 60px 60px;
  transition: 0.3s ease;
  cursor: pointer;
}
.form-panel.two:before,
.form-panel.two:after {
  content: "";
  display: block;
  position: absolute;
  top: 60px;
  left: 1.5%;
  background: rgba(255, 255, 255, 0.2);
  height: 30px;
  width: 2px;
  transition: 0.3s ease;
}
.form-panel.two:after {
  left: 3%;
}
.form-panel.two:hover {
  left: 93%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.form-panel.two:hover:before,
.form-panel.two:hover:after {
  opacity: 0;
}
.form-panel.two.active {
  left: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: default;
}
.form-panel.two.active:before,
.form-panel.two.active:after {
  opacity: 0;
}
.form-header {
  margin: 0 0 40px;
}
.form-header h1 {
  padding: 4px 0;
  color: #b57d7d;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.two .form-header h1 {
  position: relative;
  z-index: 40;
  color: #ffffff;
}

.empty-icon-container {
  margin: 1em auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.animation-container {
  position: relative;
  display: block;
  text-align: center;
  height: 100px;
  width: 300px;
  border-bottom: solid 2px #b57d7d;
  overflow: hidden;
}

@keyframes bounceAnim {
  0%,
  10% {
    bottom: 50%;
  }

  100% {
    bottom: 0%;
  }
}
@keyframes spinAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pebble1 {
  position: absolute;
  top: 95%;
  background-color: #b57d7d;
  width: 10px;
  height: 10px;
  border-radius: 22px 22px 1px 1px;
  animation: pebblesAnim 1.5s linear infinite;
}
.pebble2 {
  position: absolute;
  top: 97%;
  background-color: #b57d7d;
  width: 5px;
  height: 5px;
  border-radius: 10px 10px 0px 0px;
  animation: pebblesAnim 2s linear infinite;
}
.pebble3 {
  position: absolute;
  top: 98%;
  background-color: #b57d7d;
  width: 4px;
  height: 4px;
  border-radius: 20px 20px 0px 0px;
  animation: pebblesAnim 3s linear infinite;
}
.pebble4 {
  position: absolute;
  top: 93%;
  background-color: #b57d7d;
  width: 15px;
  height: 20px;
  border-radius: 20px 20px 2px 2px;
  animation: pebblesAnim 4s linear infinite;
}
.pebble5 {
  position: absolute;
  top: 90%;
  background-color: #b57d7d;
  width: 20px;
  height: 25px;
  border-radius: 25px 20px 3px 3px;
  animation: pebblesAnim 5s linear infinite;
}

@keyframes pebblesAnim {
  0% {
    right: -20%;
  }
  100% {
    right: 110%;
  }
}
